# Unity files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Firebase files
google-services.json
GoogleService-Info.plist
*.keystore
.firebase/
firebase-debug.log

# Ignore JetBrains Rider project files
.idea/

# Ignore crashlytics and analytics files
crashlytics/
analytics/
